langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-openai
langchain-google-genai
langchain-deepseek
langchain-chroma
langgraph
chromadb
pydantic
pydantic-settings
python-dotenv
pymupdf
rich
typer
fastapi
uvicorn
python-multipart
langchain-huggingface
sentence-transformers
pytest
streamlit
pandas
